
body {
  width: 100%;
  height: 100%;
  background-color: #263238;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #fff;
}

.background {
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 15px;
    position: relative;
}

.temp-img {
  position: fixed;
  opacity: 0.5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.location .date {
    display: flex;
    position: relative;
    justify-content: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 30px;
    margin-top: 15%;
    font-weight: bold;
    color: white;
}
.button-container {
    display: flex;
    position: relative;
    justify-content: center;
  
}

button.rounded {
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 15px;
  background-color: white;
 
}
button.rounded.active { 
  background: rgb(106, 106, 206);
}

/* .hum {
    display: flex;
  flex: 0.5;
  justify-content: center;
  align-items: center;
} */
.weather {
  display: flex;
  flex: 0.5;
  justify-content: center;
  align-items: center;
}
.place-container {
  display: inline;
  justify-content: space-evenly;
  font-size: 60px;
  font-weight: 800;
  margin-left: 100px;
}
.place, .status {
  margin: -20px -20px;
  
}
.status {
  color: darkgray;
  font-size: 2rem;
  display: flex;
  float: left;
  margin-bottom: 60%;
  margin-left: 5%;
}
.temp {
  display: inline;
  vertical-align: middle;
  font-size: 60px;
  font-weight: 800;
  
}
.temp-value {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 50px; 
  margin-top: 5%;
}
/* .temp-unit.cel::after { 
  content: 'o';
  font-size: 3pt;
  position: absolute;
} */

/* .temp-unit.feh::after { 
  content: 'f';
  font-size: 3pt;
  position: absolute;
} */ 

/* .temp-unit {
  display: inline;
  justify-content: center;
  font-family: sans-serif;
  font-size: 50px; 
 
} */

.minmax {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 20px; 
  margin-top: 2%;
}
input.place {
    display: center;
  width: 15%;
  border-radius: 20px;
  position: relative;
  margin: 20px;
  transition: 0.2s ease-in-out;
  height: 30px;
}

/* input.place:focus {
  width: 50px;
  border: 1px solid lightgray;
  padding-left: 15px;
} */

.error { 
  color: red;
}

/* .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 100; */


/* .current {
  float: left;
  font-size: 16px;
  font-weight: 300;
} */

.feels-wrapper {
  position: relative;
  display: inline; 
  justify-content: center;
  font-family: sans-serif;
  font-size: 20px; 
  margin-right: 50px;
}

.hum-wrapper {
  position: relative;
  display: inline; 
  justify-content: center;
  font-family: sans-serif;
  font-size: 20px; 
  margin-right: 50px;
}



.search {
  background: none;
  border-radius: 20px;
  display: flex;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
}  

/* .horizontal-half-divider {
  width: 100%;
  height: 3px;
  margin-top: -5px;
  background-color: white
}

.vertical-half-divider {
  width: 3px;
  position: absolute;
  height: 167px;
  background-color: white;
  float: right;
  display: inline-block;
  padding: 0;
} */